<h2>Problem Assignment</h2>
<div>
    <label>Serial number for student:</label>
    <input #serialNumber>
</div>
<div>
    <button (click)="goBack()">Back</button>
    <button (click)="loadProblems(serialNumber.value)">Next</button>
</div>

<div *ngIf="showProblems">
    <div>
        <h3>Selected problems (click to remove):</h3>
        <ol>
            <li *ngFor="let problem of selectedProblems"
                (click)="removeSelectedProblem(problem)">
                {{problem.number}}
            </li>
        </ol>
    </div>
</div>

<div *ngIf="showProblems">
    <div>
        <h3>Available problems (click to select):</h3>
        <ol>
            <li *ngFor="let problem of unassignedProblems"
                (click)="selectProblem(problem)">
                {{problem.number}}
            </li>
        </ol>
    </div>
</div>

<div *ngIf="showProblems">
    <button (click)="save()">Save</button>
</div>
